@font-face {
  font-family: "iconfont"; /* Project id 2805300 */
  src: url('iconfont.woff2?t=1631325570493') format('woff2'),
       url('iconfont.woff?t=1631325570493') format('woff'),
       url('iconfont.ttf?t=1631325570493') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-jiantou9:before {
  content: "\e60b";
}

.icon-cancle:before {
  content: "\e609";
}

.icon-jiantouarrow478:before {
  content: "\e6a2";
}

.icon-jiantouarrowhead7:before {
  content: "\e6bc";
}

.icon-jiantouxiajiang:before {
  content: "\e7f2";
}

.icon-jiantou-copy:before {
  content: "\e667";
}

.icon-hanbao:before {
  content: "\e618";
}

.icon-hanbao1:before {
  content: "\e6a6";
}

.icon-hanbao2:before {
  content: "\e603";
}

.icon-hanbao3:before {
  content: "\e60c";
}

.icon-jiantou:before {
  content: "\e696";
}

.icon-jiantou1:before {
  content: "\e70a";
}

.icon-ziyuan:before {
  content: "\e62a";
}

.icon-ziyuan1:before {
  content: "\e649";
}

.icon-hanbao4:before {
  content: "\e611";
}

.icon-yanjing-:before {
  content: "\e61c";
}

.icon-yanjing:before {
  content: "\e61e";
}

.icon-yanjing1:before {
  content: "\e608";
}

.icon-yanjing2:before {
  content: "\e630";
}

.icon-jiantou2:before {
  content: "\e62b";
}

.icon-hanbao5:before {
  content: "\e648";
}

.icon-jiantou3:before {
  content: "\e615";
}

.icon-jiantou4:before {
  content: "\e623";
}

.icon-add:before {
  content: "\e601";
}

.icon-delete:before {
  content: "\e602";
}

.icon-time:before {
  content: "\e604";
}

.icon-preview:before {
  content: "\e605";
}

.icon-share:before {
  content: "\e606";
}

.icon-edit:before {
  content: "\e607";
}

