/* 行内元素 span 加宽和高度无效2 给父盒子设置了的flex布局
1子元素子项直接加宽度和高度2子元素存在默认的宽度和高度
1宽度 等于内容撑开2 高度 高于父项的高3子元素
使用浮动无效
使用 定位 margin变换 有效3 父项
设置主轴的方向 水平
flex-direction: row, column(垂直)
设置主轴对齐方式水平
justify-content: flex-start;flex-end;center;space-evenly;space-between;space-around
设置换行
flex-wrap: nowrap(默认不换行);wrap
设置侧轴对齐方式-单行 垂直
align-items: flex-start;flex-end;center
设置侧轴对齐方式-多行 垂直
align-content: flex-start;flext-end;center;space-evenly;space-between;space-around
子项
flex:1;
设置子项占父项宽度的比例设置子项在侧轴上的对齐方式 
align-self: flex-start; flex-end; center
*/
